@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
    margin: 0;
    overflow-x: hidden;
  }

  html,
  #app,
  body {
    height: 100%;
    overflow-x: hidden;
  }
}
